{% extends 'layout.html' %}
{% block titulo %}
<title>Index</title>
{% endblock %}

{% block conteudo %}
<h1>{% if usr %}, {{ usr }}{% endif %}</h1>
<h2>Bem-vindo à nossa loja!
<img src="/static/imagens/loja.png">
{% endblock %}
<br>
<h3>Rua da Fábrica lote A1 17, 4705-377, CABREIROS, BRAGA</h3>
<table>
    <tr>
        <td>
            <h2>Horario:</h2>
            <h3>segunda-feira 08:30–18:00</h3>
            <h3>terça-feira 08:30–18:00</h3>
            <h3>quarta-feira 08:30–18:003</h3>
            <h3>quinta-feira 08:30–18:00</h3>
            <h3>sexta-feira 08:30–18:00</h3>
            <h3>sábado Encerrado</h3>
            <h3>domingo Encerrado</h3>
        </td>
    </tr>
</table>
<h3>Telefone: 961 984 334</h3>
<h3>253 102 030</h3>
<h3>www.ultriclass.com</h3>
<h3>geral@ultriclass.pt</h3>
<h3>https://www.ultriclass.com</h3>
<h3>&copy; Copyright 2019 Débora Veloso</h3>
</body>
</html>
